{
  "presets": [
    [ "env", {
      "modules": false
    } ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [ 
        [ "env", {
            "targets": {
              "node": "current"
            }
        } ]
      ]
    }
  }
}
